.jumbotron {
  background-image: url("http://data.thetravelcurator.com/2012/08/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  background-size: 100% 100%;
  color: darkgray;
}

.panel-heading {
  border-style: solid;
  border-color: lightgray;
  background-image: url("https://media.giphy.com/media/Dzmg5QAojwb6M/giphy.gif");
  background-repeat: no-repeat;
  background-position: right;
}

a {
  color: darkgreen;
}

.panel-footer {
  text-align: center;
}

body {
  color: black;
}

h3 {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.animalDanger {
  color: red;
  text-align: center;
}

.animalThanks {
  color: black;
  text-align
}

.animalSuccess {
  text-align: center;
}

.sightings {
  text-align: center;
}
