<!-- sightings-most.vtl -->
<h3>Here are the most recent sightings!</h3>
#foreach($sighting in $sightings)
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-success">
        <div class="panel-heading">
          
        </div>

      </div>
    </div>
  </div>
#end


<!-- sightings-most.vtl -->
