<h2 class="animalThanks">$sighting.getThankyou()</h2>
<h3 class="animalDanger">$sighting.getAnimalHelp()</h3>



<p class="animalSuccess">The <strong>$animal's</strong> sighting was successfully recorded.</p>

<h4><a href="/">Go Home</a></h4>
